<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WarsztatyPRogramistyczne</title>
    </head>

    <body>
        <h2>Super stronka</h2>
        <p>
            Można by tu <strong>książę</strong> <em>napisać</em> ale to tak naprawdę tylko kalkulator<br>
            ///////////////////////////////////////////////////////////////////////////////////////////////
        </p>
        <form name="example" action="/example" method="POST">
        <label for="number">Wprowadź liczby</label>
            <input type="number"  name="firstNumber">
            <input type="number"  name="secondNumber"><br>
        <label for="sing">Wprowadz znak:</label>
        <select name="sing">
            <option value="">--Wybierz opcję--</option>
            <option value="+">Dodawanko[ + ]</option>
            <option value="-">Minusowanko[ - ]</option>
            <option value="*">Mnożonko[ * ]</option>
            <option value="/">Dzielonko[ / ]</option>
        </select><br>
            <input type="submit" value="Wyślij">
        </form>
    </body>
</html>