{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Create a new post{% endblock %}</h1>
    <hr>
<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <hr>
        <center><input class="btn btn-warning" type="submit" value="Submit"></center>
    </div>
</form>
{% endblock %}